.login-card ,.register-card {
    width: 400px;
    padding: 50px 30px;
    border-radius: 1.25rem;
    /* background:#703eff; */
    background-image: url("../Assets/background.svg");
    animation: rotate 1.5s infinite alternate linear;
  margin-top: 110px;
    text-align: center;
}

.login-card>h2,.register-card>h2  {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 6px;
}

.login-card>h3,.register-card>h3 {
    color: #837f90;
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 1rem;
}

.login-form,.register-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form input.control::placeholder ,.register-form input.control::placeholder{
    color: aliceblue;

}

.login-form>button.control ,.register-form>button.control{
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background-image: url("../Assets/background.svg");
    animation: rotate 1.5s infinite alternate linear;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

/* ----------------------------------------Redirect-------------------------------------------------- */


.Redirect ,.Redirect a{
    /* display: flex; */
    /* justify-content: flex-start;
    align-content: flex-start; */
    width: 100%;
    text-decoration: none; 
    color: #a5e815;
    
   
}

.Redirect a{
    background-image: url("../Assets/background.svg");
    animation: rotate 3s infinite alternate linear;
    margin-top: 50px;
}
.Redirect div{
  
    padding-bottom: 20px;
}
.Redirect a span{
    margin-left: 10px ;
    margin-top: 50px;
}
.Redirect{
    /* font-weight: bold; */                
    font-size: 20px;
    margin: 50px 0 0;

}


/* *-------------------------------------------DASHBOARD------------------------------------------ */
.dashboard{
    width: 700px;
    padding: 50px 30px;
    border-radius: 1.25rem;
    background-image: url("../Assets/background.svg");
    animation: rotate 1.5s infinite alternate linear;
  
}

.log-out{
    font-size: 18px;
    font-weight: bold;
    opacity: 0.85;
    margin-right: 30px;
}
.log-out:hover{
    opacity: 1.5;
}


/* ----------------------------- */

.textbox {
    position: relative;
    margin-bottom: 16px;
    border-bottom: 2px solid #2b3442;

  }
  .textbox span {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 0;
    font-size: 22px;
    pointer-events: none;
    color: rgb(255 255 255 / 40%);
  }
  .textbox input {
    padding: 0 24px 0 36px;
    border: 0;
    /* border-bottom: 2px solid #2b3442; */
    color: rgb(255 255 255 / 96%);
    height: 72px;
  }

  :is(input:focus, input:valid) ~ label {
    translate: -40px -40px;
    scale: 0.875;
  }
  
  input:focus ~ label {
    /* color: #fff; */
  }
  
  input:focus {
    /* border-color: #fff; */
    background: transparent;
  }
  
  input{
    /* border-color: #fff; */
    background: transparent;
  }
  b{
    font-size: 18px;
  }
  
  :is(input:focus, input:valid) ~ span {
    color: rgb(255 255 255 / 96%);
  }
  
  .textbox label {
    position: absolute;
    top: 50%;
    left: 36px;
    translate: 0 -50%;
    color: rgb(255 255 255 / 40%);
    pointer-events: none;
    transition: 0.4s;
  }
  .form1 {
    margin: 100px;
    display: grid;
    gap: 16px;
  }  

  .button,
.input {
  border: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}
p,a{
    color: #fff;
    margin: 10px;
    text-decoration: none;
}

