button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    line-height: 1;
    color: inherit;
    font-family: "Euclid Circular A";
    font-size: 20px;
    width: 10%;
}

@media (width >=500px) {
    button {
        font-size: 16px;
    }
}

:is(.navbar, .burger, .dropdowns) {
    position: fixed;
    top: 0;
    width: 100%;
}

.dropdowns {

    width: 80%;
}


.navbar {

    z-index: 1;

    font-weight: 900;
    font-size: large;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 72px;
    /* background: transparent; */
    opacity: 0.85;
    color: #fff !important;
    border-bottom: 1px solid #000;
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59/var(--tw-bg-opacity));
    /* background-image: url("../Assets/background.svg"); */
    background-image: url("../Assets/fifac.jpg");
    /* animation: rotate 55s infinite alternate linear; */

}

.profile-dropdown-container:before {
    position: absolute;
    top: -9.5px;
    left: 43.5%;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #EEE;
    border-left: 7px solid transparent;
    background: url("../Assets/fifac.jpg");
    animation: rotate 1.5s infinite alternate linear;
    content: '';
}

/* .profile-img-con::after {
    position: absolute;
    bottom: -14px;
    right:42.5%;
    display: inline-block;
    border-right: 7px solid transparent;
    border-top: 8px solid #EEE;
    border-left: 7px solid transparent;
    content: '';
} */
/* .profile-container:hover .profile-dropdown-container {
    visibility: visible;
    transition: all 0.85s;


} */

.profile-dropdown-container {
    position: absolute;
    right: 0;
    top: 50px;
    min-width: 150px;
    min-height: 150px;
    border: 1px solid #fff;
    /* background-image: url("../Assets/fifac.jpg"); */
    animation: rotate 9.5s infinite alternate linear;
    transition: all 0.85s;


    /* visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .burger { */
/* z-index: 3;
    right: 0;
    display: grid;
    place-items: center;
    width: 72px;
    height: 72px;
    background-image: url(" ../Assets/menu.svg");
    background-repeat: no-repeat;
    background-position: center; */
/* } */

body.open .burger {
    background-image: url(" ../Assets/close.svg");
}

@media (width >=500px) {
    .burger {
        display: none;
    }
}

.button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 24px;
    height: 100%;
}

.button>img {
    display: none;
}

@media (width >=500px) {
    /* .button {
        padding: 0 10px 0 24px;
    } */

    .button>img {
        display: block;
    }
}

@media (width >=500px) {
    .dropdown:hover .button {
        opacity: 1;
    }
}

.dropdowns {
    left: -9999px;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0d0d0e;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
}

@media (width < 500px) {
    body.open .dropdowns {
        opacity: 1;
        visibility: visible;
        left: 0;
    }
}

@media (width >=500px) {
    .dropdowns {
        position: static;
        flex-direction: row;
        /* justify-content: flex-start; */
        background: transparent;
        opacity: 1;
        visibility: visible;
    }
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dropdown-menu {
    display: grid;
    margin-bottom: 28px;
}

@media (width >=500px) {
    .dropdown {
        height: 100%;
        flex-direction: row;
    }

    .dropdown-menu {
        position: absolute;
        top: 72px;
        left: 0;
        width: 180px;
        padding: 6px 24px 10px;
        margin-bottom: 0;
        place-items: start;
        --tw-bg-opacity: 1;
        background-color: rgb(30 41 59/var(--tw-bg-opacity));
        border: 1px solid #fff;
        /* color: gold !important; */
        /* background-image: url("../Assets/background.svg"); */
        opacity: 0;
        visibility: hidden;
        translate: 0 24px;
        transition: 0.3s;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        translate: 0 0;

    }
}

.dropdown-menu>button {
    /* color: #f9f9f9; */
    /* color: gold !important; */
    opacity: 1;
    height: 40px;
}

@media (width >=500px) {
    /* .dropdown-menu>button { */
    /* opacity: 0.6; */
    /* } */

    .dropdown:hover .button {
        opacity: 1;
    }
}

.dropdown-menu>button:hover {
    opacity: 1;
}

.profile-container p {
    min-width: 70px
}

.profile-container {
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 20px;
    cursor: pointer;
    position: relative;

}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 55%;
    margin: 20px;
    object-fit: fill;

}

.file {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    position: relative;
}
.search-bar button{ 
    height:45px;width:55px;
color:#000;
font-size: 20px;
background-color: yellow;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.search-bar input{
    max-height: 45px !important;
    min-width:350px !important;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    border: 1.5px solid yellow !important;
border: 1.5px solid #fff !important;
background-color: #000;
border-bottom-left-radius: 10px;

}

.search-dropdown-container{
position: absolute;
top:56px;
left:  17px;
border: 1.5px solid #fff !important;
min-height: 45px !important;
min-width:343px !important;
        background-image: url("../Assets/background.svg");
    transition: all 0.85s;
    animation: rotate 10s infinite alternate cubic-bezier(0.55, 0.055, 0.675, 0.19);


}
.search-dropdown{
    padding: 10px;
border-bottom: 1px solid #fff !important;
    display: flex;
    justify-content: space-between;
    transition: all 0.85s;

}

